apiVersion: v1
kind: Service
metadata:
  namespace: redis
  name: redis-service
  labels:
    name: redis
    app: redis
spec:
  type: NodePort
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
    nodePort: 30379
  selector:
    app: redis
